body {
  background-color: #4caf50;
}

.container {
  background-color: white;
  min-height: 600px;
}

.error_message{
  color: red;
  font-weight: bold;
}

.jumbotron{
  margin: -25px -15px 0px -15px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center;
}
