body {
  background-image: url("images/cb-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*background-color: #d4d6d4;*/
}

footer{
  color: white;
  text-align: center;
  background-color: #70bf4e;
  min-height: 30px;
  bottom: 0px;
}

footer a, a:hover{
  color: white;
}

.container {
  background-color: rgba(255,255,255,.75);
  min-height: 650px;
  margin-top: 50px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.error_message{
  color: red;
  font-weight: bold;
}

.lead{
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  text-shadow: 3px 3px 4px #000000;
  margin-right: 15px;
  position:absolute;
      bottom:0;
      right:0;
}

.jumbotron{
  margin: -25px -15px 0px -15px;
  min-height: 300px;
  padding: auto;
  position:relative;
  background-image: url("images/banner2.jpg");
  background-size: cover;
  border-radius: 0px;
}

.comic_list{
  padding-top: 20px;
  padding-bottom: 20px;
}

.comic_search_select{
    text-align: center;
}

.bg-faded {
  background-color: #70bf4e;
}

.form-control {
  max-width: 325px;
}

.modal-body a:hover {
  color: blue;
}

.modal-header {
  color: white;
  background-color: #70bf4e;
}

.modal-footer {
  color: white;
  background-color: #70bf4e;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f2ff3b;
}

.store_hours{
  color: white;
  max-width: 450px;
  padding-top: 12px;
  padding-bottom: 14px;
  margin: auto;
  text-align: center;
  font-weight: 400;
  background-color: #70bf4e;
  border-radius: 25px;
}

.store_hours h5 {
  color: #f2ff3b;
}

.center_col {
  display: inline-block;
  text-align: center;
}

#map{
  border-radius: 25px;
}
