body {
  background-color: #d4d6d4;
}

.container {
  background-color: white;
  min-height: 600px;
}

.error_message{
  color: red;
  font-weight: bold;
}

.lead{
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  text-shadow: 3px 3px 4px #000000;
  margin-right: 15px;
  position:absolute;
      bottom:0;
      right:0;
}

.jumbotron{
  margin: -25px -15px 0px -15px;
  min-height: 300px;
  padding: auto;
  position:relative;
  background-image: url("images/banner.jpg");
  background-size: cover;
}

.comic_list{
  padding-top: 20px;
  padding-bottom: 20px;
}

.comic_search_select{
  text-align: center;
}

.store_hours_box{
  text-align: center;
  outline: #89e41f solid thick;
}
