{% extends 'pullhold/base.html' %}
{% load staticfiles %}
{% block content %}

<h2>Current Pull &amp; Hold</h2>
<p>Add titles to your pull list <a href="{% url 'pullhold:pulladd' %}">HERE</a></p>
<br/>

<form method="post">
  {% csrf_token %}

<table id="comic_titles" class="table table-responsive">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Remove</th>
    </tr>
  </thead>
{% for comic in holdlist %}
  <tr>
    <td><img src="{{ comic.cover_art }}" height="153" width="103"/></td>
    <td><label>{{ comic.comic_title }}</label></td>
    <td>{{ comic.publisher.publisher_name }}</td>
    <td><input type="checkbox" name="remove" value="{{ comic.id }}"></td>
  </tr>
{% endfor %}
</table>

<input type="submit" value="Remove Titles"/>
</form>

<br/><br/>

<script type = "text/javascript" language = "javascript">
$(document).ready( function () {
    $('.table-responsive').DataTable();
} );
</script>

{% endblock %}
