{% extends "pullhold/base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
<br/><br/><br/>
<p class="lead">Comics. Local Music. Local Artists. General Nerdery.</p>
</div>

<br/><br/>

<div class="row">

  <div class="col-md center_col">
    <div class="store_hours">
    <div>
      <h5><u>Store Hours</u></h5>
    </div>
      <p>
        Sunday, Monday &amp; Tuesday
        <br/><em>Closed</em>
      </p>
    <div>
      <p>
        Wednesday, Thursday &amp; Friday
        <br/><em>6PM to 10PM</em>
      </p>
    </div>
    <div>
      <p>
        Saturday
        <br/><em>10AM to 10 PM</em>
      </p>
    </div>
    <br/>
    <div>
      <h5><u>Contact Us</u></h5>
    </div>
    <div>
      Phone number: (314) 800-6167
      <br/>Email: subculturecomics@gmail.com
    </div>
  </div>
  <br/><br/>
</div>

    <div class="col-md comic_search_select">
      <div>
        <iframe id ="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.7856150422867!2d-90.32266038511511!3d38.60780437961623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8ca5e5487fc9f%3A0x9f3c280daa719478!2sSubculture!5e0!3m2!1sen!2sus!4v1500435616247" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <br/><br/>
    </div>

</div>

{% endblock %}
