{% extends 'pullhold/base.html' %}

{% block content %}
  <h2>User Login</h2>

  <div class="row">

    <div class="col-md">
    <form method="post">
      <div class="form-group">
        {% csrf_token %}
        <div class="form-control">
          <label>Username</label>
          <input type="text" name="username"></input>
          <br/>
          <label>Password</label>
          <input type="password" name="password"></input>
        </div>
        <div class="error_message">
          {{ error }}
        </div>
        <br/>
        <button type="submit">Sign In</button>
      </div>
    </form>
    <br/>
    <div>
      <p>Not a registered user yet? <a href="{% url 'pullhold:register' %}">Sign up here</a></p>
    </div>
  </div>
    <div class="col-md">
    </div>
    <div class="col-md">
    </div>
  </div>

{% endblock %}
