{% extends 'pullhold/base.html' %}

{% block content %}

<h2>Select Titles To Add to Pull &amp; Hold</h2>
<br/><br/>

<div class="row">
  <div class="col-md-4">
    <h3>Marvel Comics</h3>
    <ul>
      {% for comic in marvel_list|dictsort:"comic_title" %}
        <li>{{ comic.comic_title }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Image Comics</h3>
    <ul>
      {% for comic in image_list|dictsort:"comic_title" %}
        <li>{{ comic.comic_title }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <h3>DC Comics</h3>
    <ul>
      {% for comic in dc_list|dictsort:"comic_title" %}
        <li>{{ comic.comic_title }}</li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock %}
