{% extends 'pullhold/base.html' %}

{% block content %}

<h2>Select Titles To Add to Pull &amp; Hold</h2>
<br/><br/>

<form method="post">
  {% csrf_token %}

  <div class="container">

      <h3>Marvel</h3>
      <div class="row">
      {% for comic in marvel|dictsort:"comic_title" %}
      <div class="col-md comic_list text-center">
        <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
        <p>
          <input type="checkbox" name="comic" value="{{ comic.id }}">
          <b>{{ comic.comic_title }}</b>
        </p>
      </div>
      {% endfor %}
      </div>
      <input type="submit" value="Add titles"/>
      <br/><br/><br/>

      <h3>DC Comics</h3>
      <div class="row">
      {% for comic in dc_comics|dictsort:"comic_title" %}
      <div class="col-md comic_list text-center">
        <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
        <input type="checkbox" name="comic" value="{{ comic.id }}">
        <b>{{ comic.comic_title }}</b>
        <br/>
      </div>
      {% endfor %}
      </div>
      <input type="submit" value="Add titles"/>
      <br/><br/><br/>

      <h3>Image</h3>
      <div class="row">
      {% for comic in image|dictsort:"comic_title" %}
      <div class="col-md comic_list text-center">
        <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
        <input type="checkbox" name="comic" value="{{ comic.id }}">
        <b>{{ comic.comic_title }}</b>
        <br/>
      </div>
      {% endfor %}
      </div>
      <input type="submit" value="Add titles"/>
      <br/><br/><br/>

</div>
</form>
<br/>
{% endblock %}
