{% extends 'pullhold/base.html' %}

{% block content %}

<h2>Select Titles To Add to Pull &amp; Hold</h2>
<br/><br/>

<div id="tabs">
  <ul>
    <li><a href="#marvel">Marvel</a></li>
    <li><a href="#dc_comics">DC Comics</a></li>
    <li><a href="#other">Other Publishers</a></li>
  </ul>

<div id="marvel">
  <h3>Marvel</h3>
<div class="row">
{% for comic in marvel|dictsort:"comic_title" %}
<div class="col-md comic_list text-center">
  <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
  <p>
    <b>{{ comic.comic_title }}</b>
  </p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="comic" value="{{ comic.id }}">
    <input type="submit" value="Add Title"/>
  </form>
</div>
{% endfor %}
</div>
</div>

<div id="dc_comics">
  <h3>DC Comics</h3>
<div class="row">
{% for comic in dc_comics|dictsort:"comic_title" %}
<div class="col-md comic_list text-center">
  <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
  <p>
    <b>{{ comic.comic_title }}</b>
  </p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="comic" value="{{ comic.id }}">
    <input type="submit" value="Add Title"/>
  </form>
</div>
{% endfor %}
</div>
</div>

<div  id="other">
  <h3>Other Publishers</h3>
<div class="row">
{% for comic in other|dictsort:"comic_title" %}
<div class="col-md comic_list text-center">
  <img src="{{ comic.cover_art }}" height="204" width="137"/><br/>
  <p>
    <b>{{ comic.comic_title }}</b>
  </p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="comic" value="{{ comic.id }}">
    <input type="submit" value="Add Title"/>
  </form>
</div>
{% endfor %}
</div>
</div>
</div>

<br/>

<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
{% endblock %}
