{% extends 'pullhold/base.html' %}

{% block content %}

<h2>Select Titles To Add to Pull &amp; Hold</h2>
<br/><br/>

<form method="post">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-4">
      <h3>Marvel</h3>
        {% for comic in marvel|dictsort:"comic_title" %}
          <input type="checkbox" name="comic" value="{{ comic.id }}">
          <label>{{ comic.comic_title }}</label>
          <br/>
        {% endfor %}
      </div>

    <div class="col-md-4">
      <h3>DC Comics</h3>
        {% for comic in dc_comics|dictsort:"comic_title" %}
          <input type="checkbox" name="comic" value="{{ comic.id }}">
          <label>{{ comic.comic_title }}</label>
          <br/>
        {% endfor %}
    </div>

    <div class="col-md-4">
      <h3>Image</h3>
        {% for comic in image|dictsort:"comic_title" %}
          <input type="checkbox" name="comic" value="{{ comic.id }}">
          <label>{{ comic.comic_title }}</label>
          <br/>
        {% endfor %}
      </div>
    </div>

  <input type="submit" value="Add titles"/>
</form>

{% endblock %}
