{% extends 'pullhold/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">

  <div class="col-md justify-content-center">
    <h2>Sign up</h2>
    <br/>
    <form method="post">
        {% csrf_token %}
        <div class="form-control">
          <form method="post" action="{% url 'pullhold:register' %}">
            {% csrf_token %}
            <table>
              {{ form }}
            </table>
            <p class="error_message">{{ error }}</p>
            <button type="submit">Sign up</button>
          </form>
        </div>
      <p class="error_message">{{ error }}</p>
    <br/>
    <p>Already have an pull and hold account set up? <a href="{% url 'pullhold:login'%}">Log-in here</a>
    <br/><br/>
  </div>

  <div class="col-md">
    <img class="img-fluid" src="{% static "pullhold/images/comicshelf.jpg" %}" alt="comics on shelf"/>
    <br/><br/>
  </div>
</div>

{% endblock %}
